form {
  max-width: 400px;
  margin: 0 auto;
}

.input-wrapper {
  margin-bottom: 2rem;
}

input {
  border: none;
  border-bottom: 2px solid;
  display: block;
  width: 100%;
  padding: 0.5rem;
}

input:focus {
  outline: none;
  border-bottom-color: dodgerblue;
}

.input-wrapper {
  position: relative;
}

button.visibility-btn {
  position: absolute;
  top: 12px;
  right: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
